@font-face {
  font-family: "gilroy";
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "bradford";
  src: url(./assets/fonts/BradfordLLSub-Light.2b80bd6.ttf);
}
@font-face {
  font-family: "bradford-light";
  src: url(./assets/fonts/BradfordLLWeb-Light.88f68c6.ttf);
}
@font-face {
  font-family: "grotesk";
  src: url(./assets/fonts/Scto\ Grotesk\ A\ Medium.c0bd1de.ttf);
}
@font-face {
  font-family: "grotesk-light";
  src: url(./assets/fonts/Scto\ Grotesk\ A\ Regular.b49ff1e.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --bg-color: #80808020;
  --mainbgc-color: #ffffffb6;
  --text-color: #000;
  --secondary-text-color: #fff;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid rgb(0, 0, 0);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
  /* mix-blend-mode: difference; */
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 9999;
  /* mix-blend-mode: difference; */
}

.mainBg-video {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
}
.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--mainbgc-color);
}

.openMenu {
  height: 0%;
  width: 100%;
  background-color: #b96036;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "grotesk-light";
  overflow: hidden;
}

.leftMenu {
  height: 100%;
  width: 60%;
}
.leftTop {
  height: 70%;
  width: 100%;
  padding: 3vw 20vw;
  overflow: hidden;
}

.leftTop h1 {
  text-transform: uppercase;
  font-size: 11vh;
  letter-spacing: -0.5vh;
  font-weight: 100;
  margin-bottom: -4vh;
  transform: translateY(50%);
  opacity: 0;
}

.leftTop h1:nth-child(1) {
  color: var(--secondary-text-color);
}
.leftTop h1:nth-last-child(2) {
  width: 135%;
}
.hover-text {
  color: var(--secondary-text-color);
  position: relative;
  cursor: pointer;
}

.hover-text::before {
  content: attr(data-text);
  position: absolute;
  color: var(--text-color);
  height: 100%;
  width: 100%;
  -webkit-text-stroke: 1px var(--text-color);
  overflow: hidden;
  transition: height 0.9s cubic-bezier(0.23, 1, 0.32, 1);
  white-space: nowrap;
  top: 0;
  left: 0;
}

.hover-text:hover::before {
  height: 0%;
}

.leftBottom {
  height: 30%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}

.leftBottom img {
  position: absolute;
  bottom: 3.9%;
  left: 2%;
  opacity: 0.6;
  height: 55%;
  transform: rotate(45deg);
}

.linkDiv {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: self-end;
  padding-bottom: 5vh;
  gap: 1vw;
  justify-content: center;
  transform: translateY(50%);
}

.leftLink {
  width: fit-content;
}
.leftLink h2 {
  font-size: 1.9vh;
  font-weight: 900;
  margin-bottom: -0.4vh;
}

.rightLink {
  width: 50%;
}

.rightLink h2 {
  font-size: 1.9vh;
  font-weight: 900;
  margin-bottom: -0.4vh;
}

.rightMenu {
  height: 100%;
  width: 40%;
  position: relative;
}
.videoTxt {
  position: absolute;
  bottom: 10%;
  right: 7%;
  width: 65%;
  height: 30%;
  transform: translateY(-150%);
  opacity: 0;
}
.videoTxt video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.vdText {
  display: flex;
  align-items: center;
  gap: 0.6vw;
}
.vdText i {
  font-size: 4vh;
  font-weight: 100;
  transition: scale 0.3s ease-out;
}
.videoTxt:hover i {
  scale: 1.2;
}
.vdText h2 {
  text-transform: uppercase;
  font-size: 2vh;
  font-weight: 900;
}
.vdText span {
  font-weight: 100;
}

nav {
  position: fixed;
  z-index: 99;
  top: 0%;
  left: 0%;
  padding: 2.7vw 2.8vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "grotesk-light";
}

nav h1 svg {
  height: auto;
  width: 12vh;
}

nav img {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0%);
  height: 18vh;
  opacity: 0.2;
}

nav a,
.hoverAnimate {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 900;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
a::after,
.hoverAnimate::after{
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.2vh;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a:hover::after,
.hoverAnimate:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page1 {
  height: 90vh;
  width: 100%;
  position: relative;
}

.page1Text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "grotesk-light";
  padding-top: 7vw;
  position: relative;
}
.page1SmallText {
  position: absolute;
  left: 2.8%;
  bottom: 9.8%;
}
.page1SmallText h2 {
  font-size: 1.9vh;
  line-height: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}
.page1Text h1 {
  padding-top: 4vh;
  width: 100%;
  text-align: center;
  font-size: 12.5rem;
  line-height: 19vh;
  letter-spacing: -0.5rem;
  font-weight: 100;
  flex-wrap: wrap;
}
.spanText1 {
  padding-left: 6vw;
}
.spanText2 {
  padding-right: 17vw;
}
.spanText3 {
  letter-spacing: -1rem;
  font-size: 12.2rem;
  padding-left: 8vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 6%;
  right: 4%;
}
.arrow {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-arrow 3s ease-out infinite;
}
.arrow:first-child {
  animation: move-arrow 3s ease-out 1s infinite;
}
.arrow:nth-child(2) {
  animation: move-arrow 3s ease-out 2s infinite;
}
.arrow:before,
.arrow:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}
.arrow:before {
  left: 0;
  transform: skewY(30deg);
}
.arrow:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}
@keyframes move-arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

.page2 {
  height: 100vh;
  width: 100%;
  position: relative;
}

.page2VideoDiv {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page2VideoDiv video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 0.67;
  position: absolute;
  top: -13%;
  left: -14.2%;
}

.page3 {
  height: 100%;
  width: 100%;
  position: relative;
}

.page3Text {
  height: 100%;
  width: 100%;
  font-family: "bradford";
}

.page3TextContent {
  height: 100%;
  width: 83%;
  padding: 13vw 8vw;
}
.page3TextContent h1 {
  font-size: 3.3vw;
  line-height: 3.3vw;
  font-weight: 100;
}

.page3SmallText {
  font-family: "grotesk";
  position: absolute;
  right: 8%;
  bottom: 1%;
}

.page3SmallText h2 {
  text-transform: uppercase;
  text-align: right;
  font-size: 1.9vh;
  line-height: 0.9rem;
  font-weight: 400;
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: "grotesk-light";
  font-size: 85%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  margin-top: 3rem;
  border: 1px solid black;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 0.6rem 2.4rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  border: 0.1px solid black;
  border-radius: 50px;
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.page4, .page6, .page8 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page4Cont {
  height: 90%;
  width: 85%;
  border-top: 1px solid #0000005c;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page4Cont .textImgDiv {
  height: 80%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.page4LeftText {
  height: 100%;
  width: 45%;
  position: relative;
  font-family: "grotesk-light";
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.page4LeftText h1 {
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  font-weight: 100;
  text-align: right;
  margin-bottom: 13vh;
}
.page4LeftText h1:nth-child(2) {
  height: 15%;
  margin-bottom: -1vh;
}
.page4LeftText h1:nth-child(3) {
  height: 15%;
  margin-bottom: 3vh;
}
.page4LeftText p {
  font-size: 2.1vh;
  text-transform: capitalize;
  line-height: 1.5vw;
  font-weight: 300;
  text-align: right;
  font-family: "bradford";
}

.page4LeftText h3 {
  font-family: "grotesk";
  position: absolute;
  top: 0%;
  right: 0%;
  font-weight: 600;
  font-size: 1rem;
}

.page4RightImg {
  background-color: red;
  height: 100%;
  width: 100%;
}
.page4RightImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page6Text1{
  margin-bottom: -1vh;
}
.page6Text2 {
  margin-top: 3vh;
}



.page5, .page7 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.page5Cont {
  height: 90%;
  width: 85%;
  border-top: 1px solid #0000005c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  font-family: "grotesk-light";
}

.page5ImgText {
  height: 80%;
  width: 65%;
}
.page5ImgText img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page5Text {
  height:80%;
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.page5Text h3 {
  font-family: "grotesk";
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  top: 0%;
  left: 0%;
}
.page5Text p {
  font-size: 2.1vh;
  text-transform: capitalize;
  line-height: 1.5vw;
  font-weight: 300;
  text-align: right;
  font-family: "bradford";
}
.page5Text h1 {
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  font-weight: 100;
  text-align: left;
  margin-bottom: 13vh;
}
.page5Text h1:nth-child(2) {
  height: 15%;
  margin-bottom: -1vh;
}
.page5Text h1:nth-child(3) {
  height: 15%;
  margin-bottom: 3vh;
}
